/*/// Main Styles ///*/

body {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  test-align: left;
  margin: 0 3.2em;
  color: rgba(0, 0, 0 ,0.2);
  font-size: 1.25em;
  background: #F6F6F6;
}

h1 {
  font-size: 2.441em;
  line-height: 1.1;
  margin: 0em;
  letter-spacing: -0.03em;
  -letter-kern: -letter-pairs(			
    'We': -0.09em,
    '’s': -0.13em,
    'rs':  0.02em,
    'He': -0.04em,
    'Pe': -0.04em,
  );
}

h2 {
  font-size: 1.953em;
  line-height: 1.2;
  margin: 0 0 0.8em;
}

h3 {
  font-size: 1.563em;
  line-height: 1.3;
  margin: 0 0 0.1em;
}

p {
  line-height: 1.6;
  margin: 0;
}

p + p {
  text-indent: 2em;
}

/*/// List Styles ///*/

ul, ol{
  display: inline-block;
  font-family: monospace;
  font-size: 1em;
  line-height: 2em;
  /*border:solid 1px;*/
  margin: 1.5em 0 0 0;
}

ul.custom-bullet, ol.custom-bullet{
	list-style:none;
}

ul.custom-bullet > li, ol.custom-bullet > li {
	clear:left;
}

ul.custom-bullet > li:before, ol.custom-bullet > li:before {
	content:"";
	height:1em;
	width:1em;
	display:block;
	float:left;
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%:
}

ol.custom-bullet > li:before{
	content:counter(liNum);
	text-align:center;
}

ul.folder > li:before{
	background-image:url('../svg/folder.svg');
	margin:0.4em 1em 0 0;
	background-size:90%;
	background-position:center;
	transition: background-size 0.3s;
	-webkit-transition: background-size 0.3s;
}

ul.folder > li:hover:before{
	background-size:100%;
}

/*Link Styles*/

a: {
  color: rgba(0, 0, 0 ,0.3);
  text-decoration: none;
  /*border-bottom: 1px dotted rgba(0, 64, 255,0.9);*/
}

a:link {
  color: rgba(0, 0, 0 ,0.3);
  text-decoration: none;
  /*border-bottom: 1px dotted rgba(0, 64, 255,0.9);*/
}

a:visited {
	color: rgba(0, 0, 0 ,0.3);
	text-decoration: none;
	/*border-bottom: 1px dotted rgba(127, 0, 255,0.9);*/
}

a:hover, a:focus, a:active {
	color: rgba(0, 127, 255,0.3);
	text-decoration: none;
	/*border-bottom: 1px dotted rgba(0, 64, 255,0.9);*/
}

/*/// SVG ///*/

svg {
  color: rgba(0, 0, 0, 0.3);
}

svg path {
    fill: rgba(0, 0, 0, 0.3);
}

a.svg {
 position: relative;
 display: inline-block;
 fill: rgba(0, 0, 0, 0.4);
}

/*

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.7);
}

*/

.headersvg {
  margin: 0.2em 0 0 0;
  width: 20px;
  height: 20px;
}

/*

.headersvg path {
    fill: red;
}

*/

/*/// Box Styles ///*/ 

/*

img {
  margin: 2.4em 0 2em;
  padding: 0;
  max-width: 100%;
}

*/

.header {
  max-width: 100%;
  margin: 0 auto;
  padding: 4.2em 0 2.8em 0;
}

.container {
  max-width: 37.5rem;
  padding: 1.45em 0 2.8em 0;
}

.listcontainer {
  max-width: 37.5rem;
  padding: 1.45em 0 3.15em 0;
}

/*

#info        {}
#findme      {}
#writing     {}
#findme      {}
#projects    {}
#header      {}
#howido      {}
#mycomputers {}
#findme      {}

*/

/*/// Responsive Typography /// */

/*

@media (max-width: 600px ) {
  body {margin: 0 1em; font-size: 0.65em;}
  h1 {font-size: ;}
}

@media (min-width: ) {
  body {font-size: ;}
  .container {max-width: ;}
}

*/